<main id="root">React is broken</main>

<script type="text/javascript">
            window.OuverteURL = "<%= image_url('Ouverte-main.png') %>";
            window.ArrowURL = "<%= asset_url('arrow-point-to-right.svg') %>";
            window.ivyWallURL = "<%= asset_url('ivy_wall.jpg') %>" 
          
           
      <% if current_user %>       
          window.currentUser = {'id': '<%= current_user.id %>'}
      <% end %>
</script>