// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables";


.reservation > h2{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: rgb(224, 224, 224) 1px solid;

}
.reservation-form > *{
    
    width: 250px;
    border: none;
    border-bottom: rgb(224, 224, 224) 1px solid;
    margin-top: 10px;

}

.reservation-index{
    width: 100%;
}

.reservation-index-item{
    display: flex;

    padding: 20px;
    border-bottom: 1px rgb(224, 224, 224) solid;
}

.reservation-index-item > * {
    margin:5px 20px 0 0;

}
.reservation-body{
    :first-child{
        color: $ouverte;
    }
}
.reservation-body > *{
    margin-bottom: 5px;
 
}
.date-time-inputs > *{
    
    border: none;
    border-radius: 0px;

    
    border-bottom: rgb(224, 224, 224) 1px solid;
    &:last-child{
        margin-left: 15px;
    }
}

.date-time-inputs{
    display: flex;
    margin: 0px;
    border:  none
   
}
.option{
    text-align: center;
}
.people{
    margin-top: 5px;
    padding-bottom: 2px;
    height: 40px;
    width: 100%;


    // &:hover{
    //     padding-bottom: 4px;

    //     border-bottom: 2px solid rgb(44, 204, 44);
    // }
}

.column{
    margin-top: 10px;
    text-align: start;
}
.column > input{
    width: 120px;
    height: 40px;
    border: none;
    margin-left: none;

}
.reservation-form > label{
    border: none;
    margin-top: 10px;
    width: 100px;

}
.reservation-form{
    text-align: start;
}


.confirmation-box {
    height: auto;
    width: auto;
    background: white;
    display: flex;
    flex-direction: column;
    margin: 100px;
    border-radius: 10px;
    padding: 0 0 20px;
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.059);      

}
.confirmation-box > h3 {
    padding: 20px;
}

.confirmation-box > h2 {
    padding: 20px 0 10px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow:0 4px 10px 1px rgba(0, 0, 0, 0.059);
    
}



.confirmation-header{
    background-color: $ouverte-h;
}

.failure-header{
    background-color: $ouverte-alt;
}

.confirm-reservation{
    align-self: center;
    margin-top: 20px;
    width: 200px;
    height: 75px;
    border: rgb(140, 139, 139) 1px solid;
    background: none;
    color: $light-color2;

    &:hover{
        border-color: $ouverte;
        background: none;
        color: $ouverte;

    }
}