// Place all the styles related to the api/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reservation-form{

}
.reservation-form > *{
    width: 250px;
    border: none;
    border-bottom: rgb(224, 224, 224) 1px solid;
    margin-top: 15px;

}
.date-time-inputs > *{
    width: 125px;
    border: none;
    border-radius: 0px;
    
    border-bottom: rgb(224, 224, 224) 1px solid;
    &:last-child{
        margin-left: 5px;
    }
 
}

.date-time-inputs{
    display: flex;
    margin: auto;
    border:  none
}
.option{
    text-align: center;
}
.people{
    margin-top: 10px;
    padding-bottom: 5px;
}