// Place all the styles related to the api/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// need to run animations in async manner --note to self
@keyframes pop{
    0% {
        // box-shadow: 7px 7px 11px -3px rgba(0,0,0,0);
        margin-top: 10px;
        height: 260px;
        width: 230px;
       }
    100% {
        box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.69);    
        height: 265px;
        width: 235px;
        margin-top: 0px;
    }
}   

.Cre-button{
    margin: 20px;
    background-color: rgb(243, 243, 243);
    color: rgb(83, 83, 83);
    text-align: center;
    width: 200px;
    padding: 10px;
    
    border-radius: 4px;
    &:hover{
        background-color: #fafafa;
    }
    
}
.restaurant-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.restaurant-show{
    margin: 0 auto 0;
    padding: 50px;
}

.outer-restaurant-index{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 95%;
}
.restaurant-index{
    
    // -webkit-overflow-scrolling: touch;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 280px;
    width: 90%;
    min-width: 330px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    // overflow-x: auto;
    // overflow-y: hidden;
    
    overflow: hidden;
}


.restaurant-index-item{
    background-color: rgb(250, 250, 250);
    border: 1px  rgb(201, 201, 201) solid;
    color: rgb(91, 91, 91);
    height: 260px;
    width: 230px;
    margin: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 4px;

    &:hover{
        animation: pop 400ms forwards;
    }
  
}

.restaurant-search-index{
    margin: 0 auto 0;
    width: 65%;
}

.restaurant-search-index-item{
    padding: 50px;
    border-bottom: 1px  rgb(201, 201, 201) solid;
}


.arrow{ 
    position: relative;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    height: 40px;
    width: 40px;
    border: grey 1px solid;
    border-radius: 50%;
    background-color: rgb(234, 230, 236);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);

}
.left-pointer{
    left: 20px;
    transform: rotate(180deg);
    &:hover{
        height: 38px;
        width: 38px;
        border: 2px green solid;

    }
}

.right-pointer{
    right:  18px;
    &:hover{
        height: 38px;
        width: 38px;
        border: 2px green solid;
    }
}

.arrow-svg{
    height: 15px;
    margin-top: 1px;
    margin-left: 2px;
}

.results-found{
    text-align: center;
    padding: 50px;
    border-bottom: 1px #c9c9c9 solid;
}
 ////restaurant showpage

.restaurant{
    display: flex;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
    max-height: 1000px;
    margin-top: 100px;
    
    // grid-template-rows: 200px 3fr 2fr ;
    // grid-template-columns: 2fr 1fr;
    // column-gap: 2rem;
}

.restaurant-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    min-height: 200px;
    width: 616px;
    // border: 1px solid grey;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);

    padding: 2px 12px 8px 12px;
    border-radius: 2px;
    background-color: white;

}

.restaurant-box > * {
    width: 100%;
    // text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px #c9c9c9 solid;
    &:last-child{
        border: none;
    }
}

.reservation-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 5px;
    width: 266px;
    height: 200px;

    padding: 10px;
    position: sticky;
    // border: 1px solid grey;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);

    border-radius: 4px;
    background-color: white;
}

.reservation-box > * {
    // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);
    text-align: center;
    width: 266px;
    height: 200px;
    border-radius: 4px;
    background-color: white;
}