// Place all the styles related to the api/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables";



// need to run animations in async manner --note to self

@keyframes pop{
    0% {
        // box-shadow: 7px 7px 11px -3px rgba(0,0,0,0);
        margin-top: 10px;
        height: 254px;
        width: 236px;
       }
    100% {
        box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.69);    
        height: 260px;
        width: 240px;
        margin: 0px 8px 8px 8px;
    }
}   

.Cre-button{
    margin: 20px;
    background-color: rgb(243, 243, 243);
    color: rgb(83, 83, 83);
    text-align: center;
    width: 200px;
    padding: 10px;
    
    border-radius: 4px;
    &:hover{
        background-color: #fafafa;
    }
    
}
.restaurant-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.restaurant-show{
    margin: 0 auto 0;
    padding: 50px;
}

.outer-restaurant-index{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
}
.restaurant-index{
    
    // -webkit-overflow-scrolling: touch;
    
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 280px;
    width: 95%;
    min-width: 330px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    // overflow-x: auto;
    // overflow-y: hidden;
    
    overflow: hidden;
    &:first-child{
        margin-left: 8px;
    }
    &:last-child{
        margin-right: 8px;
    }
}


.restaurant-index-item{
    background-color: rgb(250, 250, 250);
    border: 1px  rgb(201, 201, 201) solid;
    color: rgb(91, 91, 91);
    height: 254px;
    width: 236px;
    margin: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;

    border-radius: 4px;

    &:hover{
        animation: pop 200ms forwards;
    }
  
}


.restaurant-information{
    padding:  18px 8px 8px 8px;
    overflow-x: scroll;
}
.restaurant-img{
    background-position: center;
    background-size: cover;


    height: 135px;
    border-radius:3px 3px 0 0 ;
  
}
.restaurant-search-index{
    margin: 0 auto 0;
    width: 65%;
}

.restaurant-search-index-item{
    display: flex;

    padding: 50px;
    border-bottom: 1px  rgb(201, 201, 201) solid;
}

.left{
    margin-left: 10px;
    
}
.card-img{
    height: 150px;
    width: 150px;
    border-radius: 4px;
    background-position: center bottom;
    background-size: cover;
}
.arrow{ 
    z-index: 1;
    position: relative;
    top: 125px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: none;

    height: 40px;
    width: 40px;
    
    border: grey 1px solid;
    border-radius: 50%;
    background-color: rgb(234, 230, 236);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);

    &:hover{
        height: 38px;
        width: 38px;
        border: 2px #26b826 solid;
        border: 2px #00C7C7 solid;
    }

}
.left-pointer{
    left: 20px;
    transform: rotate(180deg);

}

.right-pointer{
    right:  18px;

}

.arrow-svg{
    height: 15px;
    margin-top: 1px;
    margin-left: 2px;
}

.results-found{
    text-align: center;
    padding: 50px;
    border-top: 1px #f5f1f1 solid;
    border-bottom: 1px #c9c9c9 solid;
}
 ////restaurant showpage
.backdrop{
    z-index: 2;
}
.restaurant{

    top: -187px;
    display: flex;
    max-width: 992px;
    justify-content: space-around;
    margin: -38px auto 0 auto ;
    min-height: 600px;
}

.restaurant-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    min-height: 200px;
    width: 616px;
    // border: 1px solid grey;
    // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);
    padding: 2px 12px 8px 12px;
    border-radius: 2px;
    background-color: white;

}

.restaurant-box > * {
    width: 100%;
    padding: 20px 0 20px 0;

    &:nth-child(odd){
        border-bottom: 1px #c9c9c9 solid;
    }
    &:nth-child(2){
        border-bottom: 1px #c9c9c9 solid;
    }
    &:last-child{
        border: none;
    }
}


.reservation-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 5px;
    width: 266px;
    height: 239px;

    padding: 15px;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);

    border-radius: 4px;
    background-color: white;
}

.reservation-box > * {
    text-align: center;
    width: 266px;
    height: 200px;
    border-radius: 4px;
    background-color: white;
    // box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.164);
}
.background-img{
    min-height: 210px;

    height: 25vw;
    min-width: 665px;
    max-width: 1600px;
    z-index: -1;
    background-position: center;
    background-size: cover, contain;
    
    // background-position: center center;
}
.file{
    display: flex;
    justify-content: flex-start;
}

.file > *{
    padding: 4px;
    height: 80px;

}

.file > input{
    border: none;
    width: 90%;

}

.restaurant-category{
    
    margin: 20px 50px;


}

.index-title{
    border-bottom: $light-color2 2px solid;
    padding-bottom: 5px;

}
.editDeleteArea{
    margin-left: auto;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    & > * {
        height: 50px;

        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        &:hover{
            color: $ouverte;
            background-color: rgb(255, 255, 255);
            border: 1px solid $ouverte;
        }
    }
}



.edit{ 
    background: none;

    & > *{
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        background: black;
        color: white;
        &:last-child{
            margin-top: 10px;
            height: 50px;

        }
    }
    
}