// Place all the styles related to the api/restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Cre-button{
    margin: 20px;
    background-color: rgb(247, 244, 244);
    color: rgb(83, 83, 83);
    text-align: center;
    width: 200px;
    padding: 10px;
    
    border-radius: 4px;
    &:hover{
        background-color: #fafafa;
    }
    
}


.restaurant-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
}

.restaurant-index{
    
    -webkit-overflow-scrolling: touch;
    
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
 
    height: 280px;
    width: 800px;
    min-width: 330px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    // box-shadow: inset -.2em 0 .3em rgba(0, 0, 0, 0.653);
    border-left: rgba(0, 0, 0, 0.685);
    border-right: rgba(0, 0, 0, 0.584);
    &:first-child {
        margin-left: 100px;
        background: red;
    }

    &:-webkit-scrollbar {
        display: none;
      }
    scrollbar-width: none;
    -ms-overflow-style: none;

}


.restaurant-index-item{
    background-color: rgb(250, 250, 250);
    border: 1px  rgb(201, 201, 201) solid;
    color: rgb(91, 91, 91);
    height: 260px;
    width: 230px;
    margin: 8px;
    box-sizing: border-box;
    flex-shrink: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    border-radius: 4px;
    // box-shadow:  -.2em 0 .3em rgba(0, 0, 0, 0.548);
}


.left-arrow{
    z-index: 3;
}

.right-arrow{
 z-index: 10000;
}