// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-form > *{
    margin-bottom: 20px;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    
    // unicode-bidi: bidi-override;
    // direction: rt1;
}
.rating >  span {
    margin-right: .5px;
    font-size: 20px;
    color: rgb(224, 222, 222);
    margin-bottom: 20px;


    &:hover ~ :before,
    &:hover:before{
        content: "\2605";
        position: absolute;
        color: rgb(102, 218, 102)
    };
    &:click ~ :before,
    &:click:before{
        content: "\2605";
        position: absolute;
        color: rgb(182, 255, 182)
    };
    
}

