// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-form > *{
    margin-bottom: 20px;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.rating >  span {
    margin-right: .5px;
    font-size: 20px;
    color: rgb(224, 222, 222);
    margin-bottom: 20px;


    &:hover ~ :before,
    &:hover:before{
        content: "\2605";
        position: absolute;
        color: #FF523D;
    };
   
    
}
.filledStar{
    color: #FF523D;
    fill: #FF523D;
}
.emptyStar{
    color: rgb(224, 222, 222);
    fill: #dddddd;
}
textarea{
    height: 91px;
    width: 397px;
}


.restaurant-box .modal-backdrop{
    background: rgba(0, 0, 0, 0);
}
.Rev-button{
    background-color: rgb(245, 245, 245);
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(202, 199, 199);
    &:hover{
        background-color: rgb(231, 230, 230);
    }
}


///review
// .review-index{
    // overflow-y: scroll;
// }
.review-index-item{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgb(202, 199, 199); ;
}
.review-side{
    margin-left: 15px;
}
.review-side > *{
    
    margin-bottom: 10px;
}