// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-page{
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:  space-around;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.8631827731092436) 0%, rgba(240,223,137,0.9178046218487395) 51%, rgba(140,249,175,1) 100%);
}


