// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_variables";

.profile-page{
    border-top: 1px solid rgb(230, 230, 230);
    // height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:  space-around;
    background: rgb(255, 255, 255);
    // background: #3fffb1;
    // border-radius: 0 0 10px 10px;
    // margin: 0 40px 80px;
}
#profile-header{
    margin-top: 20px;
}
.user-nav{
    display: flex;
}

.currentItems{
    width: 90%;
}
// #profile-header{
//     background: rgb(204, 204, 204);
//     padding: 30px 300px 30px;
//     border-radius: 10px;
// }