// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-page{
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:  space-around;
    background: rgb(223, 223, 223);
}

// #profile-header{
//     background: rgb(204, 204, 204);
//     padding: 30px 300px 30px;
//     border-radius: 10px;
// }