

.restaurant-finder{
    background-image: image-url('table.jpeg');
    height: 417px;
    background-position: center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.table-img{
  width: 100%;
}

.restaurant-data{
    height: 33px;
    width: 150px;
}

.find-restaurant{
    height: 35px;
    width: 80px;
    color: white;
    background-color: rgb(49, 96, 60);
    border-color: rgb(49, 96, 60);
}
.find-restaurant:hover{
    height: 35px;
    width: 80px;
    color: white;
    background-color: rgb(41, 80, 50);
    border-color: rgb(41, 80, 50);
}

.searchbar{
    display: flex;
    flex-direction: row;
    align-content: space-between;

}
.params{
    background-color: honeydew;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    padding: 1px;
}

