
@import "_variables";

.restaurant-finder{
    background-image: image-url('table.jpeg');
    background-position: center;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 417px;
}
.table-img{
  width: 100%;
}

.restaurant-data{
    height: 38px;
    width: 150px;
    border-radius: 0px;
    &:first-child{
        border-radius:  4px 0 0 4px ;
    }
    &:last-child{
        border-radius: 0 4px  4px 0   ;
    }

}

.find-restaurant{
    margin-left: 10px;
    text-align: center;
    height: 40px;
    width: 170px;
    color: white;
    padding: 5px 20px;

    background-color:  $ouverte;
    border-color:  $ouverte;
    // flex-grow: 0;
    &:hover{

        background-color:  $ouverte-h;
        border-color:  $ouverte-h;
    }
    flex-grow: 0;
}


.search-text{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.search{
    height: 38px;
    flex-grow: 1;
}

.searchbar{
    display: flex;
    flex-direction: row;
    // align-content: baseline;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    align-content: space-between;
    height: 90px;

}
.params > * {
    height: 38px;
}

.headline {
    margin: 16px;

    font-weight: 700;
}
.params{
    display: flex;
    flex-wrap: wrap;
}