footer{
    padding-top: 18px;
    align-self: flex-end;
    display: flex;
    align-items: center;

    width: 100%;
    
    // flex-direction: row;
    // justify-content: space-around;
    // align-content: space-around;
    // background-color: #2d333f;
    background: #2d333f;
// background: linear-gradient(0deg, rgba(18,23,32,1) 76%, rgba(28,41,71,1) 79%, rgba(106,106,106,1) 88%, rgba(161,161,161,1) 94%, rgba(255,255,255,1) 100%);
    color: rgb(155, 154, 154);
}

.resources{
    margin: 20px 80px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}

.sources{
	display: flex;
	flex-direction: column;
	align-items: space-around;
}
.external-links{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}