@import "_variables";

footer{
    padding-top: 18px;
    align-self: flex-end;
    display: flex;
    // align-items: center;

    width: 100%;

    // flex-direction: row;
    // justify-content: space-around;
    // align-content: space-around;
    // background-color: #2d333f;
    background: #2d333f;
    // background: $footer-color;
    color: rgb(204, 204, 204);
    // color: #2d333f;
}

.resources{
    margin: 20px 80px 20px;
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-content: center;
}

.sources{
    display: flex;
    // max-width: 33%;
	flex-flow: row ;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px rgb(124, 124, 124) solid;
}
.sources > * {
    display: flex;
    // max-width: 33%;
	flex-flow: column ;
}
.external-links{
    display: flex;
    max-width: 33%;
    flex-flow: row wrap;
	justify-content: space-evenly;

}